<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpeg" class="img-fluid" id="FotogrofiaDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Mauro Andrés Alfonso Piboul</p>
        <p>Full stack developer junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Vivo en Santa Teresita, partido de la costa, provincia de Buenos Aires Argentina.</p>
        </span>
    </div>
    <div>
        
    </div>
</div>