<div class="row">
    <h1>Experiencia laboral:</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Terrazas al mar</h1> (<h3>01/12/2006 - 31/03/2008)</h3></li>
            <p>Maletero y ayudante en recepci&oacute;n.</p>
        </ul>
        <ul>
            <li><h1>DJ y ayudante de saxofonista</h1> (<h3>20/12/2008 - 01/04/2013)</h3></li>
            <p>Empleado.</p>
        </ul>
        <ul>
            <li><h1>RosMau Computación</h1> (<h3>10/01/2014 - 30/04/2016)</h3></li>
            <p>Due&ntilde;o.</p>
        </ul>
        <ul>
            <li><h1>De forma privada</h1> (<h3>01/05/2016 - Presente)</h3></li>
            <p>Reparación de dispositivos informáticos y enseñanza de uso de estos a todas las edades.</p>
        </ul>
    </div>
</div>